/*MAIN*/
/*COVER ART*/
main section.cover_art {
  background-image: none;
  background-size: cover;
  height: 30vh;
  background-position: 80% 0;
  }

  main section.cover_art div {
  height: 100%; align-content: end;
  }
  main section.cover_art div a button {
  background-color: none; 
  background-color: red; 
  color: white;
  border: none; 
  width: 30vw; 
  height: 50px;
  cursor: pointer;
  }
  main section.cover_art div a button:hover {
  background-color: darkred;
  }
/*SUMMARY*/
main section.summary {
  padding: 10px 2vw;
}
/*PARTS*/
  main section.parts div {
  display: block;
  min-height: 90vh;
  padding: 0;
    display: flex;
    flex-direction: column;
  }

  main section.parts div a {
    
  text-decoration: none;
  color: white;
  height: 40vh;
  width: 100%;
  text-shadow: 2px 2px 1px black;
  
  margin: 5vh 0;
  font-family: rancor;
  font-size: 1.2em;
  
  background-color: rgba(100, 100, 100, .5);
  display: inline-block;
  align-content: center;
  justify-content: center;
  text-align: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
  }
  main section.parts div a:hover {
  background-color: red;
  //border: 0.1px red solid;
  color:white;
}
/*TRAILER*/
main section.trailer div {
  height: 90vh;
}