main div {
  align-content: center;
  padding: 0 8vw;
  / border: 1px red solid;
}
div.half {
  height: 30vh;
  position: relative;
}

/*Monologue parts*/
p.mono {
  padding: 10px;
  align-content: center;
  max-height: 30vh; 
  text-align: left;
  font-weight: bold;
  /word-spacing: 0.15em;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
p.mono.righttitle {
  height: fit-content;
  width: fit-content;
  text-align: left;
  float: inline-end; 
}
p.mono.lefttitle {
  width: fit-content;
  height: fit-content;
  /background-color: black;
  text-align: left;
  float: inline-start; 
}

/*Text location*/
p.righttitle {
  width: 60%; 
  float: inline-end; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
p.lefttitle {
  width: 55%; 
  float: inline-start; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
div.suptitle {
  align-content: start; 
  justify-content: start;
  padding-top: 15vh;
}
div.subtitle {
  align-content: end; 
  padding-bottom: 15vh;
  background-color: rgba(0, 0, 0, 0.75);
}
div.centertitle {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
/*Speech Bubbles*/
p.speech {
  padding: 10px 2vw;
  width: fit-content;
  max-width: 80%;
  max-height: 30vh;
  margin: auto;
  background-color: none;
  color: white;
  
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
p.hammond {
  background-color: #502821d0;
}
p.kendra {
  background-color: #c07b35da; /*#C07B35*/
}
p.misc {
  background-color: #7e9e7e;
}
/*Sound effects font*/
p.loudnoise {
  font-family: crashing;
  font-size: clamp(1rem, 80vw, 20rem);
  text-align: center;
  color: red;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*parallax and masking*/
.parallax {
  background-color: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
}
.parallax p.mono{
  background-color: black;
  height: fit-content;
  width: fit-content;
}
.bottom-mask {
  mask-image: linear-gradient(black 0%, gray 88%,transparent 100%);
}
.top-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 100%);
}
.top-bottom-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 50% , gray 88%, transparent 100%)
}
 
section#hangar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
/*AWAKE PART*/
.awake-00 {
  background-image: url(../img/part_2/1_0.webp);
}
.awake-01 {
  background-image: url(../img/part_2/1_1.webp);
}
.awake-02 {
  background-image: url(../img/part_2/1_2.webp);
} 

/*RIG FILL PART*/
.parallax-rig {
  background-position: left;

}
  .no-bar {
    background-image: url(../img/part_2/2_0.webp);
  }
  .one-bar {
  background-image: url(../img/part_2/2_1.webp);
  }
  .two-bar {
  background-image: url(../img/part_2/2_2.webp);
  }
  .three-bar {
  background-image: url(../img/part_2/2_3.webp);
  }
  .four-bar {
  background-image: url(../img/part_2/2_4.webp);
  }


.parallax-level-1-gear {
  background-position: center;
}

  div.angle-one {
    background-image: url(../img/part_2/3_1.webp);
  }
  div.angle-two {
    background-image: url(../img/part_2/3_2.webp);
  }
  div.angle-three {
    background-image: url(../img/part_2/3_3.webp);
  }

.parallax-rig-apps {
  background-position: top;
  /background-size: contain;
}

  div.app-inv {
    background-image: url(../img/part_2/4_1.webp);
  }
  div.app-map {
    background-image: url(../img/part_2/4_2.webp);
  }
  div.app-dat {
    background-image: url(../img/part_2/4_3.webp);
  }
  div.app-mis {
    background-image: url(../img/part_2/4_4.webp);
  }

.parallax-hangar {
 
}

  .hangar-5_0 {
    background-image: url(../img/part_2/5_0.webp);
    background-position: left;
  }
  .hangar-5_1 {
    background-image: url(../img/part_2/5_1.webp);
  }
  .hangar-5_2 {
    background-image: url(../img/part_2/5_2.webp);
  }
  .hangar-5_3 {
  background-image: url(../img/part_2/5_3.webp);
  }
  .hangar-5_3_half {
    background-image: url(../img/part_2/5_3_half.webp);
    background-position: left;
  }
  .hangar-5_4 {
  height: auto;
  overflow-x: auto;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
  }
  .hangar-5_5 {
    background-image: url(../img/part_2/5_5.webp);
    background-position: left;
  }
  .hangar-5_6 {
    background-image: url(../img/part_2/5_6.webp);
    background-position: left;
  }
  .hangar-5_7 {
  height: fit-content;
  overflow-x: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

section#lounge {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.lounge-6_0 {
  background-image: url(../img/part_2/6_0.webp);
}
.lounge-6_1 {
  background-image: url(../img/part_2/6_1.webp);
}
.lounge-6_2 {
  background-image: url(../img/part_2/6_2.webp);
}
.lounge-6_3 {
  background-image: url(../img/part_2/6_3.webp);
}
.lounge-6_4 {
  background-image: url(../img/part_2/6_4.webp);
}
.lounge-6_5 {
  background-image: url(../img/part_2/6_5.webp);
}
.lounge-6_5_2 {
  background-image: url(../img/part_2/6_5_2.webp);
}
.lounge-6_5_3 {
  background-image: url(../img/part_2/6_5_3.webp);
}
.lounge-6_5_4 {
  background-image: url(../img/part_2/6_5_4.webp);
}
.lounge-6_5_5 {
  background-image: url(../img/part_2/6_5_5.webp);
}

.lounge-6_6 {
  background-image: url(../img/part_2/6_6.webp);
}
.lounge-6_7 {
  background-image: url(../img/part_2/6_7.webp);
}

section#security {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.security-7_0 {
  background-image: url(../img/part_2/7_0.webp);
}
.security-7_1 {
  background-image: url(../img/part_2/7_1.webp);
}
.security-7_2 {
  background-image: url(../img/part_2/7_2.webp);
}
.security-7_3 {
  background-image: url(../img/part_2/7_3.webp);
}

section#quarantine {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.quarantine-8_0 {
  background-image: url(../img/part_2/8_0.webp);
}
.quarantine-8_1 {
  background-image: url(../img/part_2/8_1.webp);
}
.quarantine-8_2 {
  background-image: url(../img/part_2/8_2.webp);
}
.quarantine-8_3 {
  background-image: url(../img/part_2/8_3.webp);
}
.quarantine-8_4 {
  background-image: url(../img/part_2/8_4.webp);
  background-position: top;
}
.quarantine-8_5 {
  background-image: url(../img/part_2/8_5.webp);
}
.quarantine-8_6 {
  background-image: url(../img/part_2/8_6.webp);
  background-position: top right;
}
.quarantine-8_7 {
  background-image: url(../img/part_2/8_7.webp);
  background-position: top right;
}
.quarantine-8_8 {
  background-image: url(../img/part_2/8_8.webp);
  background-position: top right;
}
.quarantine-8_9 {
  background-image: url(../img/part_2/8_9.webp);
  background-position: center;
}