/*AWAKEN*/
section#hangar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.awake-00 {
  background-image: url(../img/part_2/1_0.webp);
}
.awake-01 {
  background-image: url(../img/part_2/1_1.webp);
}
.awake-02 {
  background-image: url(../img/part_2/1_2.webp);
} 
/*RIG FILL PART*/
.parallax-rig {
  background-position: left;
}
  .no-bar {
    background-image: url(../img/part_2/2_0.webp);
  }
  .one-bar {
  background-image: url(../img/part_2/2_1.webp);
  }
  .two-bar {
  background-image: url(../img/part_2/2_2.webp);
  }
  .three-bar {
  background-image: url(../img/part_2/2_3.webp);
  }
  .four-bar {
  background-image: url(../img/part_2/2_4.webp);
  }
.parallax-level-1-gear {
  background-position: center;
}
  div.angle-one {
    background-image: url(../img/part_2/3_1.webp);
  }
  div.angle-two {
    background-image: url(../img/part_2/3_2.webp);
  }
  div.angle-three {
    background-image: url(../img/part_2/3_3.webp);
  }
.parallax-rig-apps {
  background-position: top;
  /background-size: contain;
}
  div.app-inv {
    background-image: url(../img/part_2/4_1.webp);
  }
  div.app-map {
    background-image: url(../img/part_2/4_2.webp);
  }
  div.app-dat {
    background-image: url(../img/part_2/4_3.webp);
  }
  div.app-mis {
    background-image: url(../img/part_2/4_4.webp);
  }
.parallax-hangar {

}
  .hangar-5_0 {
    background-image: url(../img/part_2/5_0.webp);
    background-position: left;
  }
  .hangar-5_1 {
    background-image: url(../img/part_2/5_1.webp);
  }
  .hangar-5_2 {
    background-image: url(../img/part_2/5_2.webp);
  }
  .hangar-5_3 {
  background-image: url(../img/part_2/5_3.webp);
  }
  .hangar-5_3_half {
    background-image: url(../img/part_2/5_3_half.webp);
    background-position: left;
  }
  .hangar-5_4 {
  height: auto;
  overflow-x: auto;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
  }
  .hangar-5_5 {
    background-image: url(../img/part_2/5_5.webp);
    background-position: left;
  }
  .hangar-5_6 {
    background-image: url(../img/part_2/5_6.webp);
    background-position: left;
  }
  
section#lounge {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.lounge-6_0 {
  background-image: url(../img/part_2/6_0.webp);
}
.lounge-6_1 {
  background-image: url(../img/part_2/6_1.webp);
}
.lounge-6_2 {
  background-image: url(../img/part_2/6_2.webp);
}
.lounge-6_3 {
  background-image: url(../img/part_2/6_3.webp);
}
.lounge-6_4 {
  background-image: url(../img/part_2/6_4.webp);
}
.lounge-6_5 {
  background-image: url(../img/part_2/6_5.webp);
}
.lounge-6_5_2 {
  background-image: url(../img/part_2/6_5_2.webp);
}
.lounge-6_5_3 {
  background-image: url(../img/part_2/6_5_3.webp);
}
.lounge-6_5_4 {
  background-image: url(../img/part_2/6_5_4.webp);
}
.lounge-6_5_5 {
  background-image: url(../img/part_2/6_5_5.webp);
}
.lounge-6_6 {
  background-image: url(../img/part_2/6_6.webp);
}
.lounge-6_7 {
  background-image: url(../img/part_2/6_7.webp);
}
section#security {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.security-7_0 {
  background-image: url(../img/part_2/7_0.webp);
}
.security-7_1 {
  background-image: url(../img/part_2/7_1.webp);
}
.security-7_2 {
  background-image: url(../img/part_2/7_2.webp);
}
.security-7_3 {
  background-image: url(../img/part_2/7_3.webp);
}
