/*rwd common*/
@media only screen and (max-width: 600px) {
html {
  scroll-snap-stop: always;
}
body 
{
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  width: 100%;
  overflow: hidden;
}
main div {
  padding: 0 1vw;
}
p {
  font-size: 0.9rem;
}
.parallax {
  height: 100vh;
}
.plasma-cutter {
  max-width: none;
  max-width: unset;
  width: 100%;
}
p.mono.righttitle {
  text-align: center;
}
p.mono.lefttitle {
  text-align: center;
}
}