main {
  display: flex;
  flex-direction: column;
}
p
{
  font-family: mullish,Verdana,'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #C8C9C8; /* Isaac Steel Grey */
  /color: inherit;
}
h2
{
  font-family: all_text, Arial, Geneva, Tahoma, sans-serif;
  color: #C8C9C8; /* Isaac Steel Grey */
  text-transform: uppercase;
  text-align: center;
}
div
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}
main div {
  height: 90vh;
  align-content: center;
  padding: 0 8vw;
}
div.half {
  height: 30vh;
  position: relative;
}
/*FONT IMPORTS*/
@font-face {
  font-family: unitology;
  src: url("../fonts/DeadSpace Unitology.ttf") format('truetype');
}
@font-face {
  font-family: glitch;
  src: url("../fonts/RubikGlitch-Regular.ttf") format('truetype');
}
@font-face {
  font-family: crashing;
  src: url("../fonts/VENOM.ttf") format('truetype');
}
@font-face {
  font-family: panic;
  src: url(../fonts/Akira\ Expanded\ Demo.otf)
}
@font-face {
  font-family: all_text;
  src: url(../fonts/Mulish-VariableFont_wght.ttf);
}
/*TEXT CONTENTS*/
/*Monologue parts*/
p.mono {
  padding: 10px;
  align-content: center;
  max-height: 30vh; 
  text-align: left;
  /font-weight: bold;
  /word-spacing: 0.15em;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  /background-color: rgba(0, 0, 0, 0.9) !important;
  background-color: rgba(5, 5, 5, 0.9) ;
}

p.panic_mono
{
  background-color: black;
  color: red;
  font-weight: bolder;
}

.is_panic p
{
  /background-color: red;
  /width: fit-content;
  /max-width: 80vw;
  /padding: 10px 2vw;
  /color: red !important;
  text-transform: uppercase;
  font-style: normal !important;
  border-radius: 0 !important;
  /font-size: .9em;
}

p.mono.righttitle {
  height: fit-content;
  width: fit-content;
  text-align: left;
  float: inline-end; 
}
p.mono.lefttitle {
  width: fit-content;
  height: fit-content;
  /background-color: black;
  text-align: left;
  float: inline-start; 
}

/*Text location*/
p.righttitle {
  width: 60%; 
  float: inline-end; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
p.lefttitle {
  width: 55%; 
  float: inline-start; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
div.suptitle {
  align-content: start; 
  justify-content: start;
  padding-top: 15vh;
}
div.subtitle {
  align-content: end; 
  padding-bottom: 15vh;
  background-color: rgba(0, 0, 0, 0.75);
}
div.centertitle {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
/*Speech Bubbles*/
p.speech {
  padding: 10px 2vw;
  width: fit-content;
  max-width: 80%;
  max-height: 30vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.90);
  color: white;
  font-style: italic;
  
  border-width: 2.5px;
  border-style: solid;
  border-radius: 5px;
}

p.hammond {
  border-color: #7a1200;
  outline: 1px solid #7a1200;
  outline-offset: 2px;
  /background-color: #502821d0;
}
p.hammond::before {
  content: "Hammond:";
  font-weight: bold;
}
p.kendra {
  border-color: #c07b35;
  outline: 1px solid #c07b35;
  outline-offset: 2px;
  background-color: rgba(255,255,255,0.90) !important; /*#C07B35*/
  color:black;
}
p.kendra::before {
  content: "Kendra:";
  font-weight: bold;
}
p.misc {
  /background-color: #7e9e7e;
}

/*Sound effects font*/
p.loudnoise {
  font-family: crashing;
  font-size: clamp(10em, -2.3654rem + 10.7692vw, 20em);
  text-align: center;
  color: red;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*video*/
video {
  padding: 0;
  margin: 0;
  z-index: 1;
}

/*parallax and masking*/
.parallax {
  background-color: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
}
div.stills 
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.parallax p.mono, .speech{
  background-color: black !important;
  height: fit-content;
  width: fit-content;
}
.bottom-mask {
  mask-image: linear-gradient(black 0%, gray 88%,transparent 100%);
}
.top-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 100%);
}
.top-bottom-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 50% , gray 88%, transparent 100%)
}
/**HUD**/
button
{
  background-color: inherit;
  border: 1px solid;
  border-color: #C8C9C8; /* Isaac Steel Grey */
  color: #C8C9C8; /* Isaac Steel Grey and Aqua #64B8BC */
}
button.save_game
{
  position: relative;
  background-color: #000000;
  width: 40%;
  margin: 0 30%;
  bottom: 10vh;
  color: #C8C9C8;
    a
    {
      text-decoration: none;
      font-size: inherit;
    }
}
