/**images**/
div.shockpoint  { 
  background-image: 
  url(../img/part_1/shockpoint.gif);
}
div.floating-hand {
  background-image: 
  url(../img/part_1/floating-hand.webp);
  background-size: fit-content;
}
div.deadspace {
  background-image: 
  url(../img/part_1/deadspace.webp);
  background-color: transparent;
  height: 100vmax;
  background-size: contain !important;
}
div.static  {
  background-image: 
  url(../img/part_1/static_2.gif);
}
div.nicole_1  {
  background-image: 
  url(../img/part_1/nicole_1.webp);
}
div.nicole_2  {
  background-image: 
  url(../img/part_1/nicole_2.png);
}
div.kendra_1  {
  background-image: 
  url(../img/part_1/kendra_1.webp);
}
div.kendra_3 {
  background-image: 
  url(../img/part_1/kendra_3.webp);
}
div.asteroids {
  background-image: 
  url(../img/part_1/asteroids_1.webp), 
  url(../img/part_1/asteroids_2.webp), 
  url(../img/part_1/asteroids_3.webp);
}
div.aegis7  {
  background-image: 
  url(../img/part_1/aegis7.webp);
}
div.hammond {
  background-image: 
  url(../img/part_1/hammond.webp);
}
div.cec {
  background-image: 
  url(../img/part_1/cec.webp);
}
div.cec_2 {
  background-image: 
  url(../img/part_1/cec_2.webp);
  background-position: top;
}
div.ishimura  {
  background-image: 
  url(../img/part_1/asteroids_1.webp), 
  url(../img/part_1/asteroids_2.webp),
  url(../img/part_1/ishimura.webp);
}
div.ishimura_2  {
  background-image: 
  url(../img/part_1/ishimura.webp);
}
div.silence {
  background-image: 
  url(../img/part_1/silence.webp);
}
div.silence_2 {
  background-image: 
  url(../img/part_1/silence_2.webp);
}
div.silence_3 {
  background-image: 
  url(../img/part_1/silence_3.webp);
}
div.crash_impact  {
  background-image: 
  url(../img/part_1/crash.webp);
}
div.crash_chen  {
  background-image: 
  url(../img/part_1/crash_chen.webp);
}
div.crash_fade_1  {
  background-image: 
  url(../img/part_1/crash_fade_1.webp);
}
div.crash_fade_2  {
  background-image: 
  url(../img/part_1/crash_fade_2.webp);
}
div.crash_fade_3  {
  background-image: 
  url(../img/part_1/crash_fade_3.webp);
}
div.crash {
  background-size: contain !important;
}
/**fonts**/
div.static p
{
  width: fit-content;
  max-width: 90%;
  margin: 0 10vw;
  border: none !important;
}
div.glitching p 
{
  font-family: glitch;
  font-size: 2rem;
  width: 100%;
  color: white;
}
p.crashing
{
  font-family: crashing;
  color: black;
  background-color: transparent !important;
  transform: scale(15);
}
/* New HD Images*/ 
.shockpoint-1_1 {
  background-image: url(../img/part_1/1_shockpoint_1.png);
}
.shockpoint-1_2 {
  background-image: url(../img/part_1/1_shockpoint_2.png);
}
.shockpoint-1_3 {
  background-image: url(../img/part_1/1_shockpoint_3.png);
}
.shockpoint-1_4 {
  background-image: url(../img/part_1/1_shockpoint_4.png);
}
.shockpoint-1_5 {
  background-image: url(../img/part_1/1_shockpoint_5.png);
}
.shockpoint-1_6 {
  background-image: url(../img/part_1/1_shockpoint_6.png);
}
.shockpoint-1_7 {
  background-image: url(../img/part_1/1_shockpoint_7.png);
}
.shockpoint-1_8 {
  background-image: url(../img/part_1/1_shockpoint_8.png);
}
.aegis-2_1 {
  background-image: url(../img/part_1/2_aegis_1.png);
}
.aegis-2_2 {
  background-image: url(../img/part_1/2_aegis_2.png);
}
.aegis-2_3 {
  background-image: url(../img/part_1/2_aegis_3.png);
}
.aegis-2_4 {
  background-image: url(../img/part_1/2_aegis_4.png);
}
.aegis-2_5 {
  background-image: url(../img/part_1/2_aegis_5.png);
}
.aegis-2_6 {
  background-image: url(../img/part_1/2_aegis_6.png);
}
.aegis-2_7 {
  background-image: url(../img/part_1/2_aegis_7.png);
}
.aegis-2_8 {
  background-image: url(../img/part_1/2_aegis_8.png);
}
.cec-3_1 {
  background-image: url(../img/part_1/cec_01.png);
}
.cec-3_2 {
  background-image: url(../img/part_1/cec_02.png);
}
.cec-3_3 {
  background-image: url(../img/part_1/cec_03.png);
}

/* Background positioning */
.background-focus-top-center {
  background-position: top;
  background-attachment: scroll;
}
.background-full-height {
  height: fit-content;
}