section {
    display: none;
    flex-direction: column;
}
.low-1_0 {
    background-image: url(../img/part_4/1_low_0.webp);
}
.low-1_1 {
    background-image: url(../img/part_4/1_low_1.webp);
}
.low-1_2 {
    background-image: url(../img/part_4/1_low_2.webp);
}
.plasma-cutter {
    max-width:500px;
}
.invert {
    filter: invert();
}
.zoomed-150 {
    background-size: 150%;
}
.zoomed-250 {
    background-size: 250%;
}
.zoomed-500 {
    background-size: 500%;
}
.flashback {
    filter: grayscale();
}
.background-focus-right {
    background-position: right;
}
.background-focus-left {
    background-position: left;
}
.background-fitted {
    background-size: contain;
}
.flash-2_1 {
    background-image: url(../img/part_4/2_flash_1.webp);
}
.flash-2_2 {
    background-image: url(../img/part_4/2_flash_2.webp);
}
.flash-2_3 {
    background-image: url(../img/part_4/2_flash_3.webp);
}
.flash-2_4 {
    background-image: url(../img/part_4/2_flash_4.webp);
}
.shop-3_1 {
    background-image: url(../img/part_4/3_shop_1.webp);
}
.shop-3_2 {
    background-image: url(../img/part_4/3_shop_2.webp);
}
.shop-3_3 {
    background-image: url(../img/part_4/3_shop_3.webp);
}
.shop-3_4 {
    background-image: url(../img/part_4/3_shop_4.webp);
}
.shop-3_5 {
    background-image: url(../img/part_4/3_shop_5.webp);
}
.shop-3_6 {
    background-image: url(../img/part_4/3_shop_6.webp);
}
.shop-3_6_1 {
    background-image: url(../img/part_4/3_shop_6_1.png);
}
.shop-3_6_2 {
    background-image: url(../img/part_4/3_shop_6_2.webp);
}
.shop-3_7 {
    background-image: url(../img/part_4/3_shop_7.webp);
}
.shop-3_8 {
    background-image: url(../img/part_4/3_shop_8.webp);
}
.shop-3_9 {
    background-image: url(../img/part_4/3_shop_9.webp);
}
.hidden-div {
    display: none;
}
.no-clip-0_0 {
    background-image: url(../img/part_4/no_clip_00.png);
}
.no-clip-0_1 {
    background-image: url(../img/part_4/no_clip_01.png);
}