section {
  flex-direction: column;
}
/**/
section#quarantine {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hangar-5_7 {
  height: fit-content;
  overflow-x: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
.quarantine-8_0 {
  background-image: url(../img/part_2/8_0.webp);
}
.quarantine-8_1 {
  background-image: url(../img/part_2/8_1.webp);
}
.quarantine-8_2 {
  background-image: url(../img/part_2/8_2.webp);
}
.quarantine-8_3 {
  background-image: url(../img/part_2/8_3.webp);
}
.quarantine-8_4 {
  background-image: url(../img/part_2/8_4.webp);
  background-position: top;
}
.quarantine-8_5 {
  background-image: url(../img/part_2/8_5.webp);
}
.quarantine-8_6 {
  background-image: url(../img/part_2/8_6.webp);
  background-position: top right;
}
.quarantine-8_7 {
  background-image: url(../img/part_2/8_7.webp);
  background-position: top right;
}
.quarantine-8_8 {
  background-image: url(../img/part_2/8_8.webp);
  background-position: top right;
}
.quarantine-8_9 {
  background-image: url(../img/part_2/8_9.webp);
  background-position: top right;
}
.quarantine-8_10 {
  background-image: url(../img/part_2/8_10.webp);
  background-position: top right;
}
.quarantine-8_11 {
  background-image: url(../img/part_2/8_11.webp);
  background-position: center;
}
/**/
section#openfire {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.secu_1 {
  background-image: url(../img/part_3/1_secu_1.webp);
}
.secu_2 {
  background-image: url(../img/part_3/1_secu_2.webp);
}
.secu_3 {
  background-image: url(../img/part_3/1_secu_3.webp);
}
.secu_4 {
  background-image: url(../img/part_3/1_secu_4.webp);
}
.secu_5 {
  background-image: url(../img/part_3/1_secu_5.webp);
}
.secu_6 {
  background-image: url(../img/part_3/1_secu_6.webp);
}
.secu_7 {
  background-image: url(../img/part_3/1_secu_7.webp);
}
.secu_8 {
  background-image: url(../img/part_3/1_secu_8.webp);
}
.chase_1 {
  background-image: url(../img/part_3/2_chase_1.webp);
}
.chase_2 {
  background-image: url(../img/part_3/2_chase_2.webp);
}
.chase_3 {
  background-image: url(../img/part_3/2_chase_3.webp);
}
.elev_1 {
  background-image: url(../img/part_3/3_elev_1.webp);
}
.elev_2 {
  background-image: url(../img/part_3/3_elev_2.webp);
}
.elev_3 {
  background-image: url(../img/part_3/3_elev_3.webp);
}
.elev_4 {
  background-image: url(../img/part_3/3_elev_4.webp);
}
.elev_5 {
  background-image: url(../img/part_3/3_elev_5.webp);
}
.elev_6 {
  background-image: url(../img/part_3/3_elev_6.webp);
}