header {
  background-color: transparent; 
  filter: invert();
}

main {
  display: flex;
  flex-direction: column;
}
section {
    display: none;
    flex-direction: column;
}
p
{
  font-family: mullish,Verdana,'Courier New', Courier, monospace;
  font-size: 1rem;
}
h2
{
  font-family: all_text, Arial, Geneva, Tahoma, sans-serif;
  color: #C8C9C8; /* Isaac Steel Grey */
  text-transform: uppercase;
  text-align: center;
}
div
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}
div.whited {
  background-color: dimgray;
}
main div {
  height: 90vh;
  align-content: center;
  padding: 0 8vw;
}
div.half {
  height: 30vh;
  position: relative;
}
#next {
  display: none;
}
/*FONT IMPORTS*/
@font-face {
  font-family: unitology;
  src: url("../fonts/DeadSpace Unitology.ttf") format('truetype');
}
@font-face {
  font-family: glitch;
  src: url("../fonts/RubikGlitch-Regular.ttf") format('truetype');
}
@font-face {
  font-family: crashing;
  src: url("../fonts/VENOM.ttf") format('truetype');
}
@font-face {
  font-family: panic;
  src: url(../fonts/Akira\ Expanded\ Demo.otf)
}
@font-face {
  font-family: all_text;
  src: url(../fonts/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: bit_font;
  src: url(../fonts/BitcountSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}
/*TEXT CONTENTS*/
/*Monologue parts*/
p.mono {
  padding: 10px;
  align-content: center;
  max-height: 30vh; 
  text-align: center;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.9) ;
}

p.panic_mono
{
  /outline: 1px dashed rgb(148, 0, 0);
  outline-offset: 2px;
  border: 1px solid maroon;
  background-color: maroon ;
  color: white;
  font-weight: bolder;
  /text-transform: uppercase;
}

.is_panic p
{
  text-transform: uppercase;
  font-style: normal !important;
  border-radius: 0 !important;
}

p.mono.righttitle {
  height: fit-content;
  width: fit-content;
  text-align: left;
  float: inline-end; 
}
p.mono.lefttitle {
  width: fit-content;
  height: fit-content;
  text-align: left;
  float: inline-start; 
}

/*Text location*/
p.righttitle {
  width: 60%; 
  float: inline-end; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
p.lefttitle {
  width: 55%; 
  float: inline-start; 
  align-content: center;
  text-align: left;
  padding: 10px;
  margin: 0;
}
div.suptitle {
  align-content: start; 
  justify-content: start;
  padding-top: 15vh;
}
div.subtitle {
  align-content: end; 
  padding-bottom: 15vh;
  background-color: rgba(0, 0, 0, 0.75);
}
div.centertitle {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
/*Speech Bubbles*/
p.speech {
  padding: 10px 2vw;
  width: fit-content;
  max-width: 80%;
  max-height: 30vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.90) !important;
  color: white;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 5px;
}

p.hammond {
  border-color:#7a1200;
  outline: 1px solid #7a1200;
  outline-offset: 2px;
}
p.hammond::before {
  content: "Hammond: ";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color:white;
  
}
p.kendra {
  border-color: #c07b35;
  outline: 1px solid #c07b35;
  outline-offset: 2px;
}
p.kendra::before {
  content: "Kendra: ";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #c07b35;
}
p.chen {
  outline: 1px solid white;
  outline-offset: 2px;
}
p.chen::before {
  content: "Chen: ";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}
p.johnston {
  outline: 1px solid white;
  outline-offset: 2px;
}
p.johnston::before {
  content: "Johnston: ";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}
p.transmitted {
  font-family: bit_font;
  font-size: large;
  text-shadow: 2px 2px #000000;
  padding: 0 5px;
}

/*Sound effects font*/
p.loudnoise {
  font-family: crashing;
  font-size: clamp(10em, -2.3654rem + 10.7692vw, 20em);
  text-align: center;
  color: maroon;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*video*/
video {
  padding: 0;
  margin: 0;
  z-index: 1;
}

/*parallax and masking*/
.parallax {
  background-color: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
}
div.parallax-contain {
  background-size: contain;
}
div.stills 
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.parallax p.mono, .whited p.mono, .speech{
  text-align: center;
}
.bottom-mask {
  mask-image: linear-gradient(black 0%, gray 88%,transparent 100%);
}
.top-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 100%);
}
.top-bottom-mask {
  mask-image: linear-gradient(transparent 0%, gray 13%, black 50% , gray 88%, transparent 100%)
}
/**HUD**/
button
{
  background-color: inherit;
  border: 1px solid;
  border-color: #C8C9C8; /* Isaac Steel Grey */
  color: #C8C9C8; /* Isaac Steel Grey and Aqua #64B8BC */
}
button.save_game
{
  position: relative;
  background-color: #000000;
  width: 40%;
  margin: 0 30%;
  bottom: 10vh;
  color: #C8C9C8;
    a
    {
      text-decoration: none;
      font-size: inherit;
    }
}
footer::before {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  content: "jacob cajipo, 2025";
  text-align: center;
  color: white;
  font-size: 10px;
  background-color: red;
  width: 100%;
  height: 20px;
}
.imagemap-scaling-mobile {
    height: fit-content;
    overflow-x: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
.background-focus-right {
    background-position: right;
}
.background-focus-left {
    background-position: left;
}
.background-focus-top {
    background-position: top;
}
/*DIV Filters*/
.div-grayscale {
  filter: grayscale();
}
.div-darkened-75 {
  filter: brightness(75%);
}
/*image fixes*/
.max-width-fix {
  max-width: 500px;
}
.image-full-height {
  height: fit-content;
}
.asteroids-blocking {
  transform: scale(2); 
  rotate: 45deg;
}