/*rwd common*/
@media only screen and (max-width: 600px) {
html {
  scroll-snap-stop: always;
}
body 
{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}
main {
  width: 100%;
  overflow: hidden;
}
main div {
  padding: 0 1vw;
  height: 100vh;
  max-height: 100svh;
}
p {
  font-size: 0.9rem;
}
.parallax {
  top: 0px;
  left: 0px;
  width: 100%;
}
.plasma-cutter {
  max-width: none;
  max-width: unset;
  width: 100%;
}
p.mono.righttitle {
  text-align: center;
}
p.mono.lefttitle {
  text-align: center;
}

}
/*WEBP IMAGES ON PROLOGUE*/
.shockpoint_01 {
    background-image: url(../img/prologue/shockpoint_01.webp);
}
.shockpoint_02 {
    background-image: url(../img/prologue/shockpoint_02.webp);
}
.shockpoint_03 {
    background-image: url(../img/prologue/shockpoint_03.webp);
}
.shockpoint_drive_02 {
    background-image: url(../img/prologue/Shockpoint_Drive_02.webp);
}
.shockpoint_drive_03 {
    background-image: url(../img/prologue/Shockpoint_Drive_03.webp);
}
.earth_01 {
    background-image: url(../img/prologue/power_plant.webp);
}
.earth_02 {
    background-image: url(../img/prologue/oil_rig.webp);
}
.workers_01 {
    background-image: url(../img/prologue/workers.webp);
}
.ignite_01 {
    background-image: url(../img/prologue/ignite_01.webp);
}
.ignite_02 {
    background-image: url(../img/prologue/ignite_02.webp);
}
.biomes_01 {
    background-image: url(../img/prologue/biomes_01.webp);
}
.biomes_02 {
    background-image: url(../img/prologue/biomes_02.webp);
}
.uni_01 {
    background-image: url(../img/prologue/uni_01.webp);
}
.uni_02 {
    background-image: url(../img/prologue/uni_02.webp);
}
.uni_03 {
    background-image: url(../img/prologue/uni_03.webp);
}
.isaac {
    background-image: url(../img/prologue/isaac.webp);
}
.floating-hand {
    background-image: url(../img/prologue/floating_hand.webp);
}
/*WEBP IMAGES ON PROLOGUE END*/
/*WEBP IMAGES ON PART 1*/
.static-0_4 {
  background-image: url(../img/part_1/0_static_4.webp);
}
.static-0_5 {
  background-image: url(../img/part_1/0_static_5.webp);
}
.static-0_6 {
  background-image: url(../img/part_1/0_static_6.webp);
}
.nicole_1  {
  background-image: url(../img/part_1/nicole_1.webp);
}
.nicole_2  {
  background-image: url(../img/part_1/nicole_2.webp);
}
.shockpoint-1_1 {
  background-image: url(../img/part_1/1_shockpoint_1.webp);
}
.shockpoint-1_2 {
  background-image: url(../img/part_1/1_shockpoint_2.webp);
}
.shockpoint-1_3 {
  background-image: url(../img/part_1/1_shockpoint_3.webp);
}
.shockpoint-1_4 {
  background-image: url(../img/part_1/1_shockpoint_4.webp);
}
.shockpoint-1_5 {
  background-image: url(../img/part_1/1_shockpoint_5.webp);
}
.shockpoint-1_6 {
  background-image: url(../img/part_1/1_shockpoint_6.webp);
}
.shockpoint-1_7 {
  background-image: url(../img/part_1/1_shockpoint_7.webp);
}
.shockpoint-1_8 {
  background-image: url(../img/part_1/1_shockpoint_8.webp);
}
div.asteroids {
  background-image: 
  url(../img/part_1/asteroids_1.webp), 
  url(../img/part_1/asteroids_2.webp), 
  url(../img/part_1/asteroids_3.webp);
}
.aegis-2_0 {
  background-image: url(../img/part_1/2_aegis_0.webp);
}
.aegis-2_1 {
  background-image: url(../img/part_1/2_aegis_1.webp);
}
.aegis-2_2 {
  background-image: url(../img/part_1/2_aegis_2.webp);
}
.aegis-2_3 {
  background-image: url(../img/part_1/2_aegis_3.webp);
}
.aegis-2_4 {
  background-image: url(../img/part_1/2_aegis_4.webp);
}
.aegis-2_5 {
  background-image: url(../img/part_1/2_aegis_5.webp);
}
.aegis-2_6 {
  background-image: url(../img/part_1/2_aegis_6.webp);
}
.aegis-2_7 {
  background-image: url(../img/part_1/2_aegis_7.webp);
}
.aegis-2_8 {
  background-image: url(../img/part_1/2_aegis_8.webp);
}
.cec-3_1 {
  background-image: url(../img/part_1/cec_01.png);
}
.cec-3_2 {
  background-image: url(../img/part_1/cec_02.png);
}
.cec-3_3 {
  background-image: url(../img/part_1/cec_03.png);
}
.planetcrackers-4_1 {
  background-image: url(../img/part_1/planetcrackers_01.webp);
}
.planetcrackers-4_2 {
  background-image: url(../img/part_1/planetcrackers_02.jpg);
}
.planetcrackers-4_3 {
  background-image: url(../img/part_1/planetcrackers_03.jpg);
}
.planetcrackers-4_4 {
  background-image: url(../img/part_1/planetcrackers_04.jpg);
}
.planetcrackers-4_5 {
  background-image: url(../img/part_1/planetcrackers_05.jpg);
}
.planetcrackers-4_6 {
  background-image: url(../img/part_1/planetcrackers_06.webp);
}
.silence-6_1 {
  background-image: url(../img/part_1/6_silence_1.webp);
}
.silence-6_2 {
  background-image: url(../img/part_1/6_silence_2.webp);
}
.silence-6_3 {
  background-image: url(../img/part_1/6_silence_3.webp);
}
.silence-6_4 {
  background-image: url(../img/part_1/6_silence_4.webp);
}
.silence-6_5 {
  background-image: url(../img/part_1/6_silence_5.webp);
}
.silence-6_6 {
  background-image: url(../img/part_1/6_silence_6.webp);
}
.silence-6_7 {
  background-image: url(../img/part_1/6_silence_7.webp);
}
.silence-6_8 {
  background-image: url(../img/part_1/6_silence_8.webp);
}
.silence-6_9 {
  background-image: url(../img/part_1/6_silence_9.webp);
}
.silence-6_10 {
  background-image: url(../img/part_1/6_silence_10.webp);
}
.transmit-7_1 {
  background-image: url(../img/part_1/7_transmit_1.webp);
}
.transmit-7_2 {
  background-image: url(../img/part_1/7_transmit_2.webp);
}
.transmit-7_3 {
  background-image: url(../img/part_1/7_transmit_3.webp);
}
.transmit-7_4 {
  background-image: url(../img/part_1/7_transmit_4.webp);
}
.transmit-7_5 {
  background-image: url(../img/part_1/7_transmit_5.webp);
}
.transmit-7_6 {
  background-image: url(../img/part_1/7_transmit_6.webp);
}
.transmit-7_7 {
  background-image: url(../img/part_1/7_transmit_7.webp);
}
.transmit-7_8 {
  background-image: url(../img/part_1/7_transmit_8.webp);
}
.crash-8_1 {
  background-image: url(../img/part_1/8_crash_1.webp);
}
.crash-8_2 {
  background-image: url(../img/part_1/8_crash_2.webp);
}
.crash-8_3 {
  background-image: url(../img/part_1/8_crash_3.webp);
}
.crash-8_4 {
  background-image: url(../img/part_1/8_crash_4.webp);
}
.crash-8_5 {
  background-image: url(../img/part_1/8_crash_5.webp);
}
.crash-8_6 {
  background-image: url(../img/part_1/8_crash_6.webp);
}
.crash-8_7 {
  background-image: url(../img/part_1/8_crash_7.webp);
}
.crash-8_8 {
  background-image: url(../img/part_1/8_crash_8.webp);
}
.crash-8_9 {
  background-image: url(../img/part_1/8_crash_9.webp);
}
.crash-8_10 {
  background-image: url(../img/part_1/8_crash_10.webp);
}
.abort-9_1 {
  background-image: url(../img/part_1/9_abort_1.webp);
}
.abort-9_2 {
  background-image: url(../img/part_1/9_abort_2.webp);
}
.abort-9_3 {
  background-image: url(../img/part_1/9_abort_3.webp);
}
.abort-9_4 {
  background-image: url(../img/part_1/9_abort_4.webp);
}
.abort-9_5 {
  background-image: url(../img/part_1/9_abort_5.webp);
}
.abort-9_6 {
  background-image: url(../img/part_1/9_abort_6.webp);
}
.abort-9_7 {
  background-image: url(../img/part_1/9_abort_7.webp);
}
.abort-9_8 {
  background-image: url(../img/part_1/9_abort_8.webp);
}
.abort-9_9 {
  background-image: url(../img/part_1/9_abort_9.webp);
}
.crash_fade_1  {
  background-image: url(../img/part_1/crash_fade_1.webp);
}
.crash_fade_2  {
  background-image: url(../img/part_1/crash_fade_2.webp);
}
.crash_fade_3  {
  background-image: url(../img/part_1/crash_fade_3.webp);
}
/*WEBP IMAGES ON PART 1 END*/
/*WEBP IMAGES ON PART 2*/
.bicker-1_0 {
  background-image: url(../img/part_2/1_bicker_0.webp);
}
.bicker-1_1 {
  background-image: url(../img/part_2/1_bicker_1.webp);
}
.bicker-1_2 {
  background-image: url(../img/part_2/1_bicker_2.webp);
}
.bicker-1_3 {
  background-image: url(../img/part_2/1_bicker_3.webp);
}
.bicker-1_4 {
  background-image: url(../img/part_2/1_bicker_4.webp);
}
.bicker-1_5 {
  background-image: url(../img/part_2/1_bicker_5.webp);
}
.bicker-1_6 {
  background-image: url(../img/part_2/1_bicker_6.webp);
}
.bicker-1_7 {
  background-image: url(../img/part_2/1_bicker_7.webp);
}
.bicker-1_8 {
  background-image: url(../img/part_2/1_bicker_8.webp);
}
.helmeton-1_0 {
  background-image: url(../img/part_2/1_helmet_0.webp);
}
.helmeton-1_1 {
  background-image: url(../img/part_2/1_helmet_1.webp);
}
.helmeton-1_2 {
  background-image: url(../img/part_2/1_helmet_2.webp);
}
.helmeton-1_3 {
  background-image: url(../img/part_2/1_helmet_3.webp);
}
.helmeton-1_4 {
  background-image: url(../img/part_2/1_helmet_4.webp);
}
.helmeton-1_5 {
  background-image: url(../img/part_2/1_helmet_5.webp);
}
.rigfill-2_0 {
  background-image: url(../img/part_2/2_rigfill_0.webp);
}
.rigfill-2_1 {
  background-image: url(../img/part_2/2_rigfill_1.webp);
}
.rigfill-2_2 {
  background-image: url(../img/part_2/2_rigfill_2.webp);
}
.rigfill-2_3 {
  background-image: url(../img/part_2/2_rigfill_3.webp);
}
.rigfill-2_4 {
  background-image: url(../img/part_2/2_rigfill_4.webp);
}
.rigfill-2_5 {
  background-image: url(../img/part_2/2_rigfill_5.webp);
}
.rigfill-2_6 {
  background-image: url(../img/part_2/2_rigfill_6.webp);
}
.rigfill-2_7 {
  background-image: url(../img/part_2/2_rigfill_7.webp);
}
.rigfill-2_8 {
  background-image: url(../img/part_2/2_rigfill_8.webp);
}
.rigfill-2_9 {
  background-image: url(../img/part_2/2_rigfill_9.webp);
}
.uniform-3_0 {
  background-image: url(../img/part_2/3_uniform_0.webp);
}
.uniform-3_1 {
  background-image: url(../img/part_2/3_uniform_1.webp);
}
.uniform-3_2 {
  background-image: url(../img/part_2/3_uniform_2.webp);
}
.uniform-3_3 {
  background-image: url(../img/part_2/3_uniform_3.webp);
}
.uniform-3_4 {
  background-image: url(../img/part_2/3_uniform_4.webp);
}
.bridge-4_0 {
    background-image: url(../img/part_2/4_bridge_0.webp);
}
.bridge-4_1 {
    background-image: url(../img/part_2/4_bridge_1.webp);
}
.bridge-4_2 {
    background-image: url(../img/part_2/4_bridge_2.webp);
}
.bridge-4_3 {
    background-image: url(../img/part_2/4_bridge_3.webp);
}
.bridge-4_4 {
    background-image: url(../img/part_2/4_bridge_4.webp);
}
.bridge-4_5 {
    background-image: url(../img/part_2/4_bridge_5.webp);
}
.bridge-4_6 {
    background-image: url(../img/part_2/4_bridge_6.webp);
}
.bridge-4_7 {
    background-image: url(../img/part_2/4_bridge_7.webp);
}
.bridge-4_8 {
    background-image: url(../img/part_2/4_bridge_8.webp);
}
.bridge-4_9 {
    background-image: url(../img/part_2/4_bridge_9.webp);
}
.bridge-4_10 {
    background-image: url(../img/part_2/4_bridge_10.webp);
}
.bridge-4_11 {
    background-image: url(../img/part_2/4_bridge_11.webp);
}
.bridge-4_12 {
    background-image: url(../img/part_2/4_bridge_12.webp);
}
.lounge-6_0 {
  background-image: url(../img/part_2/6_0.webp);
}
.lounge-6_1 {
  background-image: url(../img/part_2/6_1.webp);
}
.lounge-6_2 {
  background-image: url(../img/part_2/6_2.webp);
}
.lounge-6_3 {
  background-image: url(../img/part_2/6_3.webp);
}
.lounge-5_0 {
    background-image: url(../img/part_2/5_lounge_0.webp);
}
.lounge-5_1 {
    background-image: url(../img/part_2/5_lounge_1.webp);
}
.lounge-5_2 {
    background-image: url(../img/part_2/5_lounge_2.webp);
}
.lounge-5_3 {
    background-image: url(../img/part_2/5_lounge_3.webp);
}
.lounge-5_4 {
    background-image: url(../img/part_2/5_lounge_4.webp);
}
.lounge-5_5 {
    background-image: url(../img/part_2/5_lounge_5.webp);
}
.lounge-5_6 {
    background-image: url(../img/part_2/5_lounge_6.webp);
}
.lounge-5_7 {
    background-image: url(../img/part_2/5_lounge_7.webp);
}
.lounge-5_8 {
    background-image: url(../img/part_2/5_lounge_8.webp);
}
.lounge-5_9 {
    background-image: url(../img/part_2/5_lounge_9.webp);
}
.lounge-5_10 {
    background-image: url(../img/part_2/5_lounge_10.webp);
}
.lounge-5_11 {
    background-image: url(../img/part_2/5_lounge_11.webp);
}
.lounge-5_12 {
    background-image: url(../img/part_2/5_lounge_12.webp);
}
.blood-6_0 {
    background-image: url(../img/part_2/6_blood_0.webp);
}
.blood-6_1 {
    background-image: url(../img/part_2/6_blood_1.webp);
}
.blood-6_2 {
    background-image: url(../img/part_2/6_blood_2.webp);
}
.blood-6_3 {
    background-image: url(../img/part_2/6_blood_3.webp);
}
.blood-6_4 {
    background-image: url(../img/part_2/6_blood_4.webp);
}
.blood-6_5 {
    background-image: url(../img/part_2/6_blood_5.webp);
}
.blood-6_6 {
    background-image: url(../img/part_2/6_blood_6.webp);
}
.blood-6_7 {
    background-image: url(../img/part_2/6_blood_7.webp);
}
.blood-6_8 {
    background-image: url(../img/part_2/6_blood_8.webp);
}
.blood-6_9 {
    background-image: url(../img/part_2/6_blood_9.webp);
}
.blood-6_10 {
    background-image: url(../img/part_2/6_blood_10.webp);
}