/**images**/
div.shockpoint  { 
  background-image: 
  url(../img/part_1/shockpoint.gif);
}
div.floating-hand {
  background-image: 
  url(../img/part_1/floating-hand.webp);
  background-size: fit-content;
}
div.deadspace {
  background-image: 
  url(../img/part_1/deadspace.webp);
  background-color: transparent;
  height: 100vmax;
  background-size: contain !important;
}
div.static  {
  background-image: 
  url(../img/part_1/static_2.gif);
}
div.nicole_1  {
  background-image: 
  url(../img/part_1/nicole_1.webp);
}
div.nicole_2  {
  background-image: 
  url(../img/part_1/nicole_2.png);
}
div.kendra_1  {
  background-image: 
  url(../img/part_1/kendra_1.webp);
}
div.kendra_3 {
  background-image: 
  url(../img/part_1/kendra_3.webp);
}
div.asteroids {
  background-image: 
  url(../img/part_1/asteroids_1.webp), 
  url(../img/part_1/asteroids_2.webp), 
  url(../img/part_1/asteroids_3.webp);
}
div.aegis7  {
  background-image: 
  url(../img/part_1/aegis7.webp);
}
div.hammond {
  background-image: 
  url(../img/part_1/hammond.webp);
}
div.cec {
  background-image: 
  url(../img/part_1/cec.webp);
}
div.cec_2 {
  background-image: 
  url(../img/part_1/cec_2.webp);
  background-position: top;
}
div.ishimura  {
  background-image: 
  url(../img/part_1/ishimura.webp);
}
div.silence {
  background-image: 
  url(../img/part_1/silence.webp);
}
div.silence_2 {
  background-image: 
  url(../img/part_1/silence_2.webp);
}
div.silence_3 {
  background-image: 
  url(../img/part_1/silence_3.webp);
}
div.crash_impact  {
  background-image: 
  url(../img/part_1/crash.webp);
}
div.crash_chen  {
  background-image: 
  url(../img/part_1/crash_chen.webp);
}
div.crash_fade_1  {
  background-image: 
  url(../img/part_1/crash_fade_1.webp);
}
div.crash_fade_2  {
  background-image: 
  url(../img/part_1/crash_fade_2.webp);
}
div.crash_fade_3  {
  background-image: 
  url(../img/part_1/crash_fade_3.webp);
}
div.crash {
  background-size: contain !important;
}
/**fonts**/
div.static p
{
  width: fit-content;
  max-width: 90%;
  margin: 0 10vw;
  border: none !important;
}
div.glitching p 
{
  font-family: glitch;
  font-size: 2rem;
  width: 100%;
  color: white;
}
p.crashing
{
  font-family: crashing;
  color: black;
  background-color: transparent !important;
  transform: scale(15);
}
