/*rwd common*/
@media only screen and (max-width: 600px) {
html {
  scroll-snap-stop: always;
}
body 
{
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  width: 100%;
  overflow: hidden;
}
main div {
  padding: 0 1vw;
}
p {
  font-size: 0.9rem;
}
.parallax {
  height: 100vh;
}
.plasma-cutter {
  max-width: none;
  max-width: unset;
  width: 100%;
}
p.mono.righttitle {
  text-align: center;
}
p.mono.lefttitle {
  text-align: center;
}

/*WEBP IMAGES ON MOBILE*/
.shockpoint_01 {
    background-image: url(../img/prologue/shockpoint_01.webp);
}
.shockpoint_02 {
    background-image: url(../img/prologue/shockpoint_02.webp);
}
.shockpoint_03 {
    background-image: url(../img/prologue/shockpoint_03.webp);
}
.shockpoint_drive_02 {
    background-image: url(../img/prologue/Shockpoint_Drive_02.webp);
}
.shockpoint_drive_03 {
    background-image: url(../img/prologue/Shockpoint_Drive_03.webp);
}
.earth_01 {
    background-image: url(../img/prologue/power_plant.webp);
}
.earth_02 {
    background-image: url(../img/prologue/oil_rig.webp);
}
.workers_01 {
    background-image: url(../img/prologue/workers.webp);
}
.ignite_01 {
    background-image: url(../img/prologue/ignite_01.webp);
}
.ignite_02 {
    background-image: url(../img/prologue/ignite_02.webp);
}
.biomes_01 {
    background-image: url(../img/prologue/biomes_01.webp);
}
.biomes_02 {
    background-image: url(../img/prologue/biomes_02.webp);
}
.uni_01 {
    background-image: url(../img/prologue/uni_01.webp);
}
.uni_02 {
    background-image: url(../img/prologue/uni_02.webp);
}
.uni_03 {
    background-image: url(../img/prologue/uni_03.webp);
}
.isaac {
    background-image: url(../img/prologue/isaac.webp);
}
.floating-hand {
    background-image: url(../img/prologue/floating_hand.webp);
}
}